*{
  text-decoration: none;
  list-style: none;

}body{
   position: sticky; 
   background-size: cover;
  display: flex;
  justify-content: center;
}
.bigContainer{
  background-image:url(bg2.png) ;
}
.Navbar{
  position: absolute;
  top: 10px;
  border-radius: 20px;
  width: 95%;
  height: 40%;
  margin-left: 3%;
}.Navbar {
  position: relative;
}.Navbar ul li img{
  background-image: none;
width: 20%;
height: 10%;
}
.pokedex1{
  width: 30%;
  margin-left: 70%;
  margin-top: -10%;
}
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pokemon-card {
  background-color: #ff0000b9;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 80px;
  height: 80px;
}
.body{
  position: relative;
  margin-top: 20%;
}
.content-box {
  padding: 20px;
  margin: 10px;
  transition: opacity 0.3s ease;
}

.hidden {
  display: none;

}

.toggle-button {
  padding: 8px 16px;
  background-color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.toogle-button:hover{
  background-color: #45a049;
  transform: scale(1.05);
}.tittle{
  top:-80%;
  background-color: rgb(9, 134, 107);
}/* 🌑 Thème sombre */
.bigContainer.dark {
  color: white;
}

.bigContainer.dark .pokemon-card {
  background-color: #c300ffb9;
}

.bigContainer.dark .toggle-button,
.bigContainer.dark .theme-toggle-button {
  color: white;
}

/* ☀️ Thème clair */
.bigContainer.light {
  color: black;
  background-image:url(inverted_lines.svg) ; /* si tu veux désactiver bg2.png ici */
}

.bigContainer.light .pokemon-card {
  background-color:#00ccffb9;
  color: black;
}

.bigContainer.light .toggle-button,
.bigContainer.light .theme-toggle-button {
  color: black;
}

.theme-toggle-button {
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  cursor: grab;
  transition: 0.3s;
} img {
  width: 100px;
}
.rotate {
  animation: spin 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
